html {
    font-size:100px;
}
a,img,button,input,textarea,div,span{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
    -webkit-outline:none;
}
body {
    margin:0;
    padding:0;
    width:100%;
    background-color:#fff;
    position:absolute;
    overflow-x:hidden;
    font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
body{
    width:100%;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.a1{
    flex-grow:1;
    background: #0000f6;
    height:300px;
}
.a2{
    flex-grow:1;
    background:#00ffff;
    height:300px;
}
.a3{
    flex-grow:1;
    background:#00aafd;
    height:300px;
}
