@charset "utf-8";
/* CSS Document */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
}


#wrapper {
    position: relative;
    z-index: 1;
    height: 63px;
    width: 100%;
    overflow: hidden;
    -ms-touch-action: none;
    background: #2d3845;
}

.highlight{
    background: #fc353a;
    position: absolute;
    width:80px;
    height:48px;
    top:0;
    left: 160px;
    z-index:0;
}

.highlight:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 18;
    display: block;
    height: 0;
    width: 0;
    margin: auto;
    border-top: 14px solid #fc353a;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 2380px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {

    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#scroller li {
    width: 80px;
    float: left;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    display:block;
    line-height: 18px;
    padding:5px 0;
    color:#999;
}
#scroller li.selected{
    color:#fff;
}
#scroller li span{
    font-weight: bold;
    font-size: 18px;
}
#scroller li span.text{
    font-size: 12px;
    font-weight: normal;
}