@charset "utf-8";

#my_loading {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    /*  background: rgba(0, 0, 0, 0.4);*/
}

#my_loading span {
    position: relative;
    top: 30%;
    left: 50%;
    display: block;
    margin: 0 auto auto -73px;
    width: 146px;
    height: 141px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    overflow: hidden;
}

#my_loading span img {
    display: block;
    margin: 46.5px auto auto 49px;
    width: 48px;
    height: 48px;
    -webkit-animation: loading 2.5s linear 0s infinite;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}