<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/69d4ccaf.vendors.min.css" rel="stylesheet"><link href="../css/68a643fa.ys-common.min.css" rel="stylesheet"><link href="../css/57da211b.bmap.min.css" rel="stylesheet"></head>
<body>
<script src="http://api.map.baidu.com/api?v=1.5&ak=BVZmVCyHzPusTYduzI5i69GY"></script>
<%include footer.ejs%>
<script src="../js/3c553aba.vendors.min.js"></script><script src="../js/702876c8.ys-common.min.js"></script><script src="../js/98795868.bmap.min.js"></script></body>
</html>