<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/69d4ccaf.vendors.min.css" rel="stylesheet"><link href="../css/68a643fa.ys-common.min.css" rel="stylesheet"><link href="../css/fec24379.city.min.css" rel="stylesheet"></head>
<body>
<div id="main">
    <!--搜索框-->
    <div class="top-bar">
        <div class="top-bar-section flex-box">
            <div id="city_selector" class="flex-box">
                <p>全国</p>
                <span></span>
            </div>
            <div id="search_input" class="flex-box flex1">
                <span></span>
                <p class="flex1">大家都在搜:荷兰猪小胖</p>
            </div>
            <div id="location" class="flex-box hide">
                <span></span>
                <p>附近</p>
            </div>
            <div id="gettingLocation" class="">
                <p>定位中···</p>
            </div>
        </div>
        <div id="city_nav" class="city-nav">
            <div class="city-nav-section">
                <div class="city-list">
                    <div class="loading">
                        <span class="s0"></span>
                        <span class="s1"></span>
                        <span class="s2"></span>
                        <span class="s3"></span>
                    </div>
                </div>
            </div>
            <div class="city-nav-bg hide">
            </div>
        </div>
    </div>

    <div id="type_nav" class="type-nav">
    </div>
    <div id="videos" class="videos">
        <div id="order_nav" class="order-nav">
            <div id="by_distance" class="order-tab active">默认排序</div>
            <div id="by_hot" class="order-tab">人气精选</div>
            <div id="by_time" class="order-tab">最新发布</div>
            <div id="active_bar" class="active-bar hide"></div>
        </div>
        <div id="video_list" class="video-list">
        </div>
        <!--加载中-->
        <div id="no-video" class="hide">
            <i></i>
            <p>暂无视频记录</p>
        </div>
        <div class="main-bottom">
            <div id="list_loading" class="loading hide">
                <span class="s0"></span>
                <span class="s1"></span>
                <span class="s2"></span>
                <span class="s3"></span>
            </div>
            <p class="final-page">没有更多视频点</p>
        </div>
    </div>
</div>
<%include footer.ejs%>
<script src="../js/3c553aba.vendors.min.js"></script><script src="../js/702876c8.ys-common.min.js"></script><script src="../js/d254a201.city.min.js"></script></body>
</html>