<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/f2e740c1.vendors.min.css" rel="stylesheet"><link href="../css/cb109ebc.ys-common.min.css" rel="stylesheet"><link href="../css/b8f31d35.hot.min.css" rel="stylesheet"></head>
<body>

<div id="main">
    <!--搜索框-->
    <div id="search">
        <div class="input">
            <div class="des">
                <img id="search_img">
                <span>搜一搜</span>
            </div>
        </div>
    </div>

    <!--banner-->
    <div id="banner">
        <div id="bannerDiv" class="swiper-wrapper"></div>
    </div>
    <div id="bannerIndex">
        <div class="swiper-pagination">
            <span></span>
        </div>
    </div>

    <!--商城、新闻-->
    <div id="mallNews">
        <div id="btnMall" class="btn">
            <img id="Mall_img">
        </div>
        <div id="btnNews" class="btn">
            <img id="News_img">
        </div>
    </div>

    <!--视频列表-->
    <div id="list">
        <div id="specialList"></div>
        <div id="boxList"></div>
        <div id="loading">
            <span class="s0"></span>
            <span class="s1"></span>
            <span class="s2"></span>
            <span class="s3"></span>
        </div>
    </div>
</div>

<%include footer.ejs%>

<script src="../js/d9ad8948.vendors.min.js"></script><script src="../js/d61d0f5b.ys-common.min.js"></script><script src="../js/5b9d28a8.hot.min.js"></script></body>
</html>