<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/f2e740c1.vendors.min.css" rel="stylesheet"><link href="../css/36888318.ys-common.min.css" rel="stylesheet"><link href="../css/caa308d8.map.min.css" rel="stylesheet"></head>
<body>

<div id="coords-map">
    <div id="bdmap" class="map">
    </div>
    <div class="map-tools">
        <div class="map-focus map-icon"><i></i></div>
        <div class="map-bottom">
            <div id="coord-detail">
            </div>
        </div>
    </div>
    <div id="type_select" class="type-select">
        <div class="type-select-input flex-box">
            <p class="flex1">全部分类</p>
            <span class="open"></span>
        </div>
        <div class="type-select-options">
        </div>
    </div>
</div>

<div id="videoListExp">
    <div class="coords-list"></div>
    <div class="exp-mask"></div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4eH6a3VGSp55W6O5oR06sC9M"></script>
<%include footer.ejs%>
<script src="../js/2695294b.vendors.min.js"></script><script src="../js/385de574.ys-common.min.js"></script><script src="../js/025930ea.map.min.js"></script></body>
</html>