<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/69d4ccaf.vendors.min.css" rel="stylesheet"><link href="../css/68a643fa.ys-common.min.css" rel="stylesheet"><link href="../css/1f83bbf4.play.min.css" rel="stylesheet"></head>
<body>

    <div class="shade" id="shade">
        <img id="shade_img">
    </div>
    <!-- sportapp头部 -->
    <div class="header hide">
        <div class="back">
            <span id="backBtn"><i></i>返回</span>
            <span id="videoTitle"></span>
        </div>
    </div>
    <!-- sportapp头部背景 -->
    <div class="headerBG hide"></div>

    <div id="playHolder">
        <div class="load">
            <div class="img">
                <img id="loading_img">
            </div>
            正在加载，请稍等....
        </div>
    </div>

    <div id="playNone">
        <img id="play_none_img"/>

        <div class="text"></div>
    </div>

<script src="http://api.map.baidu.com/api?v=1.5&ak=BVZmVCyHzPusTYduzI5i69GY"></script>
<%include footer.ejs%>
<script src="../js/9ed617a5.vendors.min.js"></script><script src="../js/025442be.ys-common.min.js"></script><script src="../js/f45d3c98.play.min.js"></script></body>
</html>