<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/f2e740c1.vendors.min.css" rel="stylesheet"><link href="../css/cb109ebc.ys-common.min.css" rel="stylesheet"></head>
<body>

<div id="main"></div>
<div id="loading">
    <span class="s0"></span>
    <span class="s1"></span>
    <span class="s2"></span>
    <span class="s3"></span>
</div>

<%include footer.ejs%>
<script src="../js/d9ad8948.vendors.min.js"></script><script src="../js/d61d0f5b.ys-common.min.js"></script><script src="../js/e267cb8d.praize.min.js"></script></body>
</html>