<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
<link href="../css/69d4ccaf.vendors.min.css" rel="stylesheet"><link href="../css/68a643fa.ys-common.min.css" rel="stylesheet"><link href="../css/edefaada.search.min.css" rel="stylesheet"></head>
<body>

<div id="main">
    <div id="searchContainer"></div>
    <div id="searchInput">
        <input id="searchValue" type="text" value="">
        <div id="searchBtn">搜索</div>
    </div>
    <div id="searchHistory">
        <div class="searchTitle">最近搜索</div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="searchHot">
        <div class="searchTitle">热门搜索</div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="videoList">
        <div id="videoDiv"></div>
        <div id="loading">
            <span class="s0"></span>
            <span class="s1"></span>
            <span class="s2"></span>
            <span class="s3"></span>
        </div>
        <div id="noVideo"></div>
    </div>
    <div id="toTopBtn">
        <img id="top_img" />
    </div>
</div>

<%include footer.ejs%>
<script src="../js/953fbb49.vendors.min.js"></script><script src="../js/39b95204.ys-common.min.js"></script><script src="../js/9ce42fd9.search.min.js"></script></body>
</html>