<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>萤石直播</title>
    <style>*{}</style>
    <style>
        form{
            margin: 0;
            padding:0;
        }
        form .info{
            margin:10px;
            font-size: 14px;
        }
        form .info label{
            text-align: right;
            width:75px;
            display: inline-block;
        }
        form .info input{
            width:180px;
            display: inline-block;
            font-size: 14px;
        }
        form .submit{
            text-align: center;
        }
        form .submit input{
            display: inline-block;
            width: 80px;
            margin: 10px 0;
        }
    </style>
<link href="../css/f2e740c1.vendors.min.css" rel="stylesheet"><link href="../css/36888318.ys-common.min.css" rel="stylesheet"></head>

<body>
<form>
    <div class="info">
        <label for="username">用户名：</label><input name="username" id="username" type="text" value="" />
    </div>
    <div class="info">
        <label for="password">密码：</label><input name="password" id="password" type="password" value="" />
    </div>
    <div class="info">
        <label for="mobilephone">手机号码：</label><input name="mobilephone" id="mobilephone" type="text" value="" />
    </div>
    <div class="submit">
        <input type="button" value="提交" id="submit" />
    </div>
</form>



<script src="../js/51d8fb63.vendors.min.js"></script><script src="../js/70431b78.ys-common.min.js"></script><script src="../js/1e04e259.test3.min.js"></script></body>
</html>