<!DOCTYPE HTML>
<html>
<head>
<%include header.ejs%>
</head>
<body>

<div id="main"></div>
<div id="loading">
    <span class="s0"></span>
    <span class="s1"></span>
    <span class="s2"></span>
    <span class="s3"></span>
</div>

<%include footer.ejs%>
</body>
</html>